/* tag */
* {
    box-sizing: border-box;
}
html::-webkit-scrollbar {
    height: 0;
    width: 0;
}
html, body {
    margin: 0px;

    height: 100%;
}
button {
    border-radius: 6px;
}
button:active {
    background-color: white;
}
button:focus, textarea:focus, input:focus, select:focus {
    outline: none;
}
span, b, h1, select, button, label {
    user-select: none;
}

/* tag type */

input[type="checkbox"] {
    margin-left: 2px;
}
input[type="text"], input[type="number"], select {
    border-radius: 4px;;
}

/* utils class */

.inline-block {
    display: inline-block;
}

.pt10 {
    padding-top: 10px;
}
.pt20 {
    padding-top: 20px;
}

.pb10 {
    padding-bottom: 10px;
}
.pb20 {
    padding-bottom: 20px;
}

.pl5 {
    padding-left: 5px;
}
.pr5 {
    padding-right: 5px;
}

.mt5 {
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.mt15 {
    margin-top: 15px;
}
.mt20 {
    margin-top: 20px;
}

.mb5 {
    margin-bottom: 5px;
}
.mb10 {
    margin-bottom: 10px;
}

.mr5 {
    margin-right: 5px;
}
.mr10 {
    margin-right: 10px;
}
.mr15 {
    margin-right: 15px;
}
.mr20 {
    margin-right: 20px;
}
.mr40 {
    margin-right: 40px;
}

.ml5 {
    margin-left: 5px;
}

.f14 {
    font-size: 14px;
}
.f16 {
    font-size: 16px;
}
.f18 {
    font-size: 18px;
}
.f20 {
    font-size: 20px;
}
.f22 {
    font-size: 22px;
}
.f24 {
    font-size: 24px;
}
.f26 {
    font-size: 26px;
}
.f28 {
    font-size: 28px;
}
.f30 {
    font-size: 30px;
}

.z14 {
    zoom: 1.4;
}
.z15 {
    zoom: 1.5;
}

.caution {
    color: #ed4956;
}
.warning {
    color: #ed9349;
}
.system {
    color: #8849ed;
}
.bs {
    box-shadow: 0 4px 3px -2px gray
}
.b {
    font-weight: bold;
}
.hidden {
    display: none !important;
}
.execution {
    color: #379337 !important;
    font-weight: bold;
}
.raid {
    color: #ed4956 !important;
    font-weight: bold;
}
.sort-ASC {

}
.sort-DESC {

}

/* normal class */

.header {
    display: flex;
    align-items: center;

    height: 70px;
    width: 100%;

    background-color: lightsteelblue;
}
.section {
    display: flex;

    height: 90%;
    min-height: 650px;
}
.article {
    display: flex;
    flex-direction: column;

    padding: 10px;
    
    width: 65%;
    min-width: 745px;
    height: 100%;
}
.aside {
    display: flex;

    padding: 10px;
    padding-left: 14px;

    width: 35%;
    min-width: 650px;

    background-color: black;
    color: white;
}
.footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;

    padding: 10px;
    
    height: 120px;
    width: 100%;
    
    background-color: lightgray;
    line-height: 0px;
}
.fas, button:enabled, .checkbox-txt, input[type="checkbox"]:enabled {
    cursor: pointer;
}
.main-headline {
    margin-left: 0.5cm;

    color: white;
}
.data-upload {
    position: absolute;
    right: 180px;
    
    font-size: 32px;
    color: #fff;
}
.data-download {
    position: absolute;
    right: 22px;
    
    font-size: 32px;
    color: #fff;
}
.top-panel, .action-panel {
    display: flex;
    
    height: 35px;
}
.top-panel > b, i, select, label, .action-panel > i, button{
    margin-top: auto;
    margin-bottom: auto;
}
.timer-start-pause, .timer-end, .m-box, .p-box {
    position: relative;
    top: 1px;
}
.turn-text {
    width: 25px;

    text-align: center;
    color: #6610f2;
}
.monster-hp {
    padding-left: 2px;
    border: 2px solid #bdc3c0;

    height: 30px;
    width: 100px;

    font-weight: bold;
    background-color: #fff;
    color: #495057;
}
.monster-hp:disabled {
    background-color: #ddd;
    color: #495057;
}
.atk-btn {
    border: 2px solid #D8A406;
    height: 28px;
    width: 70px;

    background-color: #fab134;
    color: #fff;
    
    background-repeat: no-repeat;
    filter: none;
    transition: background-color .2s;
}
.atk-btn:disabled {
    background-color: #d37e05;
    color: #9e5f04;
}
.atk-btn:enabled:hover {
    background-color: #d37e05;
}
.atk-btn:enabled:active {
    background-color: #9e5f04;
}
.heal-btn {
    border: 2px solid #42b142;

    height: 28px;
    width: 80px;

    background-color: #78cc78;
    color: #fff;
    
    background-repeat: no-repeat;
    filter: none;
    transition: background-color .2s;
}
.heal-btn:disabled {
    background-color: #379337;
    color: #105206;
}
.heal-btn:enabled:hover {
    background-color: #379337;
}
.heal-btn:enabled:active {
    background-color: #105206;
}
.group-panel {
    display: flex;
}
.group-panel>button {
    border-radius: 10px 10px 0px 0px;
    height: 30px;
    width: 90px;
    padding: 0px 10px 0px 10px;

    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    
    transition: background-color, opacity .2s;
    opacity: 0.7;
}
.group-panel>*:hover {
    opacity: 1;
}
.group-panel>.rest {
    border: 2px solid #5c7a5f;
    border-bottom: 0px;
    background-color: #7ed675;
}
.group-panel>.party1 {
    border: 2px solid #691e21;
    border-bottom: 0px;
    background-color: #e4484e;
}
.group-panel>.party2 {
    border: 2px solid #755326;
    border-bottom: 0px;
    background-color: #d89947;
}
.group-panel>.party3 {
    border: 2px solid #666121;
    border-bottom: 0px;
    background-color: #cac13e;
}
.group-panel>.party4 {
    border: 2px solid #335a2b;
    border-bottom: 0px;
    background-color: #6bbf5a;
}
.group-panel>.party5 {
    border: 2px solid #34635e;
    border-bottom: 0px;
    background-color: #63beb5;
}
.group-panel>.party6 {
    border: 2px solid #1e4c66;
    border-bottom: 0px;
    background-color: #3a90c3;
}
.group-panel>.party7 {
    border: 2px solid #4a266b;
    border-bottom: 0px;
    background-color: #7d41b6;
}
.group-panel>.party8 {
    border: 2px solid #852650;
    border-bottom: 0px;
    background-color: #d43d80;
}
.sort-panel {
    display: flex;
    
    height: 28px;
}
.sort-panel>* {
    position: relative;
    cursor: pointer;
    
    width: 50px;

    color: #999;
    
    transition: color .2s;
}
.all-select {
    margin-left: 6px;
    margin-right: 34px;

    width: 0;

    font-size: 23px;

    color:#ed4956;
    transition: color .2s;
}
.all-select:hover {
    color:#bd3337;
}
.all-select:active {
    color:#0bba82;
}
.sort-name {
    margin-right: 155px;
}
.sort-dice {
    width: 65px;
    margin-right: 153px;
}
.sort-weapon {
    margin-right: 11px;
}
.sort-armor {
    margin-right: 18px;
}
.sort-ASC > .sort-t, .sort-ASC > .fa-sort-up {
    color:#1e0bc7
}
.sort-DESC > .sort-t, .sort-DESC > .fa-sort-down {
    color:#1e0bc7
}
.sort-i {
    position: absolute;
    right: 0;
    top: 2px;

    font-size: 19px;
}
.char-panel, .battle-log-panel {
    flex: 1;

    overflow-y: auto;
}
.char-panel::-webkit-scrollbar, .battle-log-panel::-webkit-scrollbar {
    padding-top: 10px;

    width: 12px;
}
.char-panel::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px white;

    background-color: white;
}
.char-panel::-webkit-scrollbar-thumb {
    border-radius: 10px;

    background-color: lightslategray;
}
.battle-log-panel::-webkit-scrollbar-track {
    border-radius: 10px;
    box-shadow: inset 0px 0px 5px #000;

    background-color: #000;
}
.battle-log-panel::-webkit-scrollbar-thumb  {
    border-radius: 10px;

    background-color: #eee;
}
.char-sheet {
    display: flex;
    align-items: center;

    height: 42px;
    border: 2px solid #bbc1c9;
    border-radius: 7px;
    padding-left: 7px;
    margin-top: 4px;
}

.char-panel>.rest {
    border-color: #8fda86;
}
.char-panel>.party1 {
    border-color: #d53b40;
}
.char-panel>.party2 {
    border-color: #d89947;
}
.char-panel>.party3 {
    border-color: #cac13e;
}
.char-panel>.party4 {
    border-color: #6bbf5a;
}
.char-panel>.party5 {
    border-color: #63beb5;
}
.char-panel>.party6 {
    border-color: #3a90c3;
}
.char-panel>.party7 {
    border-color: #7d41b6;
}
.char-panel>.party8 {
    border-color: #d43d80;
}

.input_on-off {
    display: none;
}
.switch_on-off {
    margin-right: 2px;
    
    border-radius: 9px;
    height: 25px;
    width: 18px;
    
    background-color: #ed4956;
    color: #fff;

    cursor: pointer;
    transition: background-color .2s;
}
.input_on-off:checked + .switch_on-off {
    background-color: #0bba82;
}
.char-name {
    border: 2px solid #bdc3c0;
    padding: 7px 7px;

    height: 30px;
    width: 200px;

    background-color: #fff;
    color: #495057;
}
.char-name:disabled {
    background-color: #ddd;
    color: #ed4956;
}
.weapon-bonus, .armor-bonus {
    height: 24px;
}
.char-hp {
    position: relative;
    
    height: 40px;
    width: 3cm;
    
    text-align: center;
}
.char-hp:before {
    position: absolute;
    top: 9px;
    left: 0;
    right: 0;

    content: attr(data-label);
    font-size: 15px;
    font-weight: bold;
}
.char-recen-act-txt {
    padding-left: 10px;
    padding-right: 10px;

    border-radius: 4px;
    height: 24px;
    width: 170px;

    background-color: black;
    color: white;
}


@media screen and (max-width: 1565px) {
    .char-recen-act-txt {
        display: none;
    }
}